<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/member/memberPage.html">

<div class="container1" layout:fragment="content">
    <!-- Heading -->

    <!-- Form -->
    <form action="" method="post">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <div class="input-container">
                <input type="email" placeholder="아이디" class="input" id="email" />
                <button id="resetEmail">
                    <img th:src="@{/member/images/xButton.png}" alt="Reset Email" />
                </button>
            </div>
        </div>
        <!-- password input -->
        <div class="input__block">
            <div class="input-container">
                <input type="password" placeholder="비밀번호" class="input" id="password" />
                <button id="resetPassword">
                    <img th:src="@{/member/images/xButton.png}" alt="Reset Password" />
                </button>
            </div>
        </div>
        <ul class="links">
            <li>
                <a th:href="@{/member/register}" id="signup">회원가입</a>
            </li>
        </ul>
        <!-- sign in button -->
        <button class="signin__btn">
            로그인
        </button>
    </form>
</div>
</html>
