<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/member/memberPage.html">
<head>
<script>
    const sameEmail = "";
    const sameHp = "";

    $(function() {
        const success = '[[${success}]]';
        if (success == 100)
            alert("일치하는 회원이 존재하지 않습니다.");
        else if (success == 200)
            alert("회원가입이 완료되었습니다.");
        else if (success == 201)
            alert("비밀번호가 변경되었습니다.");
    });
</script>
    </head>
<div class="container1" layout:fragment="content">
    <!-- Heading -->

    <!-- Form -->
    <form action="" method="post">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <div class="input-container">
                <input type="text" placeholder="아이디" class="input" />
                <button id="resetEmail">
                    <img th:src="@{/member/images/xButton.png}" alt="Reset Email" />
                </button>
            </div>
        </div>
        <!-- password input -->
        <div class="input__block">
            <div class="input-container">
                <input type="password" placeholder="비밀번호" class="input" id="password" />
                <button id="resetPassword">
                    <img th:src="@{/member/images/xButton.png}" alt="Reset Password" />
                </button>
            </div>
        </div>
        <ul class="links">
            <li>
                <a th:href="@{/member/register}">회원가입</a>
            </li>
        </ul>
        <!-- sign in button -->
        <button class="signin__btn">
            로그인
        </button>
    </form>
</div>
</html>
