<!-- loginFormFragment.html -->
<div class="modal-body">
    <form action="" method="post">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <div class="input-container">
                <input type="text" placeholder="아이디" class="input" name="uid"/>
            </div>
        </div>
        <!-- password input -->
        <div class="input__block">
            <div class="input-container">
                <input type="password" placeholder="비밀번호" class="input" id="password" name="pass"/>
            </div>
        </div>
        <ul class="links">
            <li>
                <a th:href="@{/member/register}">회원가입</a>
            </li>
        </ul>
        <!-- sign in button -->
        <button class="signin__btn">
            로그인
        </button>
    </form>
</div>
