
<!--로그인 모달로 옮김-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org"-->
<!--      xmlns:layout="http://www.thymeleaf.org"-->
<!--      layout:decorate="/member/memberPage.html">-->

<!--<body>-->
<!--<div class="login" layout:fragment="content">-->
<!--    <form th:action="@{/member/login}" method="post">-->
<!--        <div class="first-input input__block first-input__block">-->
<!--            <div class="input-container">-->
<!--                <input type="text" placeholder="아이디" class="input" name="uid" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="input__block">-->
<!--            <div class="input-container">-->
<!--                <input type="password" placeholder="비밀번호" class="input" id="password" name="pass" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <ul class="links">-->
<!--            <li>-->
<!--                <a th:href="@{/member/register}">회원가입</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <button type="submit" class="signin__btn">-->
<!--            로그인-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->
