<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/member/memberPage.html">
<!--멤버 레이아웃 참고중(메인 레이아웃 작업해야함)-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<!-- header -->
<div class="index" layout:fragment="content">
<div class="banner">
    <div class="banner__contents"></div>
    <div class="banner--fadeBottom"></div>
</div>

<!-- Netflix Originals -->
<div class="row">
    <h2>NETFLIX ORIGINALS</h2>
    <div class="row__posters">
        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie1.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie2.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie3.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie4.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie5.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie6.jpg}"
                alt=""
        />

    </div>
</div>

<!-- Trending Now -->
<div class="row">
    <h2>Trending Now</h2>
    <div class="row__posters">
        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie1.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie2.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie3.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie4.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie5.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie6.jpg}"
                alt=""
        />

    </div>
</div>

<!-- Top Rated -->
<div class="row">
    <h2>Top Rated</h2>
    <div class="row__posters">
        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie1.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie2.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie3.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie4.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie5.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie6.jpg}"
                alt=""
        />

    </div>
</div>

<!-- Action Movies -->
<div class="row">
    <h2>Action Movies</h2>
    <div class="row__posters">
        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie1.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie2.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie3.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie4.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie5.jpg}"
                alt=""
        />

        <img
                class="row__poster row__posterLarge"
                th:src="@{/images/large-movie6.jpg}"
                alt=""
        />

    </div>
</div>

<script>
    const nav = document.getElementById("nav");
    window.addEventListener("scroll", () => {
      if (window.scrollY >= 100) {
        nav.classList.add("nav__black");
      } else {
        nav.classList.remove("nav__black");
      }
    });
</script>
</div>
</body>
</html>
