<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/admin/board/layout.html">

                <div class="card mb-4" layout:fragment="content">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        영화 목록
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>영화 제목</th>
                                <th>상영 지역</th>
                                <th>Running Time</th>
                                <th>연령</th>
                                <th>상영 시작 시간</th>
                                <th>상영 종료 시간</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>61</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>63</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>66</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>22</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>33</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>61</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>59</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Rhona Davidson</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>55</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Colleen Hurst</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>39</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Sonya Frost</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>23</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Jena Gaines</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>30</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Quinn Flynn</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>22</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            <tr>
                                <td>Charde Marshall</td>
                                <td>부산 - 서면</td>
                                <td>120분</td>
                                <td>15</td>
                                <td>11:45</td>
                                <td>14:25</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

</html>
