<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout.html">
<link rel="stylesheet" th:href="@{/map/css/min.css}" media="all">
<link rel="stylesheet" th:href="@{/css/footer.css}"/>
<script th:src="@{/map/js/hmac-sha256.js}"></script>
<script th:src="@{/map/js/enc-base64-min.js}"></script>
<script th:src="@{/map/js/simpleBokd.js}"></script>

<div class="map road" layout:fragment="content">
    <div class="theater-info-text mt40">
        <p class="big">
            2호선 강남역과 9호선 신논현역을 잇는 생동감 넘치는 강남의 중심 벨트!! 문화와 쇼핑을 한번에!!<br>강남에서 가장 큰 상영관에서 압도되는 영상을 경험하세요.
        </p>
        <p></p>
    </div>

    <h2 class="tit small mt70">시설안내</h2>

    <h3 class="tit small">보유시설</h3>

    <div class="theater-facility">


        <p><i class="iconset ico-facility-theater"></i>일반상영관</p>

        <p><i class="iconset ico-facility-disabled"></i>장애인석</p>

    </div>

    <h3 class="tit small mt30">층별안내</h3>

    <ul class="dot-list">

        <li><span class="font-gblue">로비층 : </span> 무인발권기, 엘리베이터</li>

        <li><span class="font-gblue">2층 : </span> 1관(계단), 로비, 자판기, 엘리베이터, 남자,여자 화장실</li>

        <li><span class="font-gblue">4층 : </span> 2관, 로비, 매표소, 매점, 무인발권기, 자판기, 엘리베이터, 남자,여자 화장실</li>

    </ul>


    <h2 class="tit small mt70">교통안내</h2>

    <h3 class="tit small">약도</h3>

    <ul class="dot-list">
        <li><span class="font-gblue">도로명주소 : </span> 서울특별시 강남구 역삼동 강남대로 422 </li>

    </ul>

    <div class="location-map-btn mt15">
        <div class="btn-group left">
            <a href="http://m.map.naver.com/map.nhn?lng=127.0272337&amp;lat=37.500328&amp;level=2" class="button purple" target="_blank" title="새창열림">실시간 길찾기</a>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d9bf2f6170775fee402da5f0b94d6be"></script>

        </div>
    </div>

    <h3 class="tit small mt30">주차</h3>

    <div class="parking-info">


        <div class="parking-section">
            <div class="icon-box"><i class="iconset ico-parking" title="주차안내">주차안내</i></div>

            <div class="info">
                <p class="tit">주차안내</p>

                <ul class="dot-list">

                    <li>씨티빌딩 후면 주차타워 이용</li>

                    <li>주차공간이 협소하오니 대중교통 이용바랍니다.</li>

                </ul>
            </div>
        </div>


        <div class="parking-section">
            <div class="icon-box"><i class="iconset ico-parking-confirm" title="주차확인">주차확인</i></div>

            <div class="info">
                <p class="tit">주차확인</p>

                <ul class="dot-list">

                    <li>영화 관람 전 매표소에서 주차 인증</li>

                </ul>
            </div>
        </div>

        <div class="parking-section">
            <div class="icon-box"><i class="iconset ico-cash" title="주차요금">주차요금</i></div>

            <div class="info">
                <p class="tit">주차요금</p>

                <ul class="dot-list">

                    <li>주차 요금은 입차시간을 기준으로 합니다.</li>

                    <li>평일 관람 시 3시간 무료</li>

                    <li>주말 및 공휴일 3시간 2,000원</li>

                    <li>매표소에서 영화 티켓과 주차권 함께 제시 (티켓당 1대 적용)</li>

                    <li>초과 요금 발생시 출차시 정산 (30분당 2,500원)</li>

                    <li>출차시 무인정산기 이용</li>

                </ul>
            </div>
        </div>

    </div>


    <h3 class="tit small mt30">대중교통</h3>

    <!-- location-info -->
    <div class="public-transportation">

        <!-- 버스 정보 -->

        <div class="transportation-section">
            <div class="icon-box"><i class="iconset ico-bus" title="버스">버스</i></div>

            <div class="info">
                <p class="tit">버스</p>
                <ul class="dot-list">

                    <li>강남역(신논현역,구교보타워사거리 방면)정류장을 이용하여 오시는 길</li>

                    <li>= 서초03번, 643번, 3412번, 3422번, 4312번, 8541번</li>

                    <li>지하철2호선.강남역(중)(논현역 방면)정류장을 이용하여 오시는 길</li>

                    <li>=140번, 144번, 145번, 360번, 400번, 402번, 420번, 421번, 440번, 441번 452번, 470번, 542번, 741번, N13번(심야), N37번(심야), 1100번, 1550번 1570번, 3030번, 3100번, 3600번, 9202번, 9400번, 9800번, G7426번 P9201번, 8001번, 9404번, 9408번, 6009번</li>

                </ul>
            </div>
        </div>

    </div>
        <!-- 지하철 정보 -->

        <div class="transportation-section">
            <div class="icon-box"><i class="iconset ico-metro" title="지하철">지하철</i></div>

            <div class="info">
                <p class="tit">지하철</p>
                <ul class="dot-list">

                    <li>지하철 2호선 ‘강남역’하차 → 지하철 11번 출구 이용 도보 3분 (250m)</li>

                    <li>지하철 9호선 '신논현역'하차 -&gt; 지하철 5번 출구 이용 도보 8분 (500m)</li>

                </ul>
            </div>
        </div>
</div>
</html>